body{
	background: #833ab4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
i.icon{
	font-size: 1.5em;
}
.title{
	margin-top: 70px;
}
.ui.segment:last-child {
    margin-bottom: 5em;
}
.container.main{
	margin-top: 7em;
}
#delete{
	display: inline;
}
div.main>div.header{
	border: none;
	display: inline-block;
	border-bottom: 3px solid black;
	padding-bottom: 2px;
}